---
title: Toggl to Delorean
description: Toggl time entry review and processing for entry in Delorean.
---

<style>{% include "node_modules/@frozenfrank/toggl-to-delorean/dist/styles.css" %}</style>

{% include "node_modules/@frozenfrank/toggl-to-delorean/dist/fragment.html" %}

<script type="module">{% include "node_modules/@frozenfrank/toggl-to-delorean/dist/bundle.js" %}</script>
