<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<script src="https://kit.webawesome.com/381cfdad10d64aac.js" crossorigin="anonymous"></script>


		<style type="text/css">
			[slot='banner'] {
				--wa-color-text-link: var(--wa-color-neutral-on-loud);
				background-color: var(--wa-color-neutral-fill-loud);
			}
			[slot='header'] {
				background-color: var(--wa-color-brand-fill-normal);
			}
		</style>
		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add the contents of a file to the bundle #}
		<style>{% include "css/index.css" %}</style>

		{#- Or you can add from node_modules #}
		{# <style>{% include "node_modules/something.css" %}</style> #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		{#- <style>{% getBundle "css" %}</style> #}

		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<wa-page>
			<div slot="banner" class="wa-body-s">
				<a href="https://webawesome.com/" class="wa-cluster wa-align-items-baseline wa-gap-xs" style="flex-wrap: nowrap;">
					<wa-icon name="crown" style="color: var(--wa-color-orange-60)"></wa-icon>
					<span>Proudly developed with WebAwesome</span>
				</a>
			</div>

			<header slot="header" class="wa-split">
				<nav class="wa-cluster">
					<a href="/" class="wa-cluster">
						<wa-icon name="square-binary" style="color: var(--wa-color-brand-fill-loud); font-size: 1.5em"></wa-icon>
						<span id="brand-name" class="wa-heading-m wa-desktop-only">{{ metadata.title }}</span>
					</a>
					{%- for entry in collections.all | eleventyNavigation %}
						<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
					{%- endfor %}
				</nav>
			</header>

			<main class="wa-body-l">
				<heading-anchors>
					{{ content | safe }}
				</heading-anchors>
			</main>

			<footer slot="footer">
				<p>
					<em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
				</p>
			</footer>
		</wa-page>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
